In [1]:
import geopandas as gpd
import pandas as pd

Import shape data

In [2]:
shapefile = gpd.read_file("Data/GIS/MSOA2011_BSC.geojson")
shapefile

,OBJECTID,MSOA2011,BNG_E,BNG_N,LONG,LAT,Shape__Are,Shape__Len,geometry
0,1,E02000001,532384,181355,-0.0935,51.5156,3.226298e+06,7736.3543,"MULTIPOLYGON (((-0.08520 51.52030, -0.07850 51..."
1,2,E02000002,548267,189685,0.1388,51.5865,2.064081e+06,7071.3681,"MULTIPOLYGON (((0.14980 51.59700, 0.15110 51.5..."
2,3,E02000003,548259,188520,0.1381,51.5761,2.226199e+06,7772.5307,"MULTIPOLYGON (((0.14840 51.58080, 0.14980 51.5..."
3,4,E02000004,551004,186412,0.1768,51.5564,2.599306e+06,6982.4123,"MULTIPOLYGON (((0.19020 51.55270, 0.18600 51.5..."
4,5,E02000005,548733,186824,0.1443,51.5607,1.221861e+06,5599.7656,"MULTIPOLYGON (((0.15440 51.56610, 0.14790 51.5..."
...,...,...,...,...,...,...,...,...,...
7196,7197,W02000419,302419,380863,-3.4662,53.3157,2.650026e+06,8351.7644,"MULTIPOLYGON (((-3.47950 53.31070, -3.47630 53..."
7197,7198,W02000420,336850,353606,-2.9441,53.0759,7.938553e+07,59098.8507,"MULTIPOLYGON (((-2.96390 53.13280, -2.94690 53..."
7198,7199,W02000421,271405,266660,-3.8866,52.2830,7.712008e+08,168732.6251,"MULTIPOLYGON (((-3.73330 52.50660, -3.73030 52..."
7199,7200,W02000422,319643,174132,-3.1580,51.4604,4.649973e+06,18715.2692,"MULTIPOLYGON (((-3.11920 51.37980, -3.11780 51..."
7200,7201,W02000423,318619,174985,-3.1730,51.4680,1.989467e+06,11492.7859,"MULTIPOLYGON (((-3.17940 51.46130, -3.17930 51..."

In [3]:
shapefile.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

Import geography lookups and merge

In [4]:
geog = pd.read_csv("Data/GIS/LSOA_eng_lookup.csv")

In [5]:
geog = geog[["MSOA2011", "MSOA2011NM", "LAD2020", "LAD2020NM", "GOR2011", "GOR2011NM", "CTRY2011", "CTRY2011NM"]]
geog = geog[geog["GOR2011NM"] == "London"]
geog = geog.drop_duplicates()

In [7]:
df = shapefile.merge(geog)
df

,OBJECTID,MSOA2011,BNG_E,BNG_N,LONG,LAT,Shape__Are,Shape__Len,geometry,MSOA2011NM,LAD2020,LAD2020NM,GOR2011,GOR2011NM,CTRY2011,CTRY2011NM
0,1,E02000001,532384,181355,-0.0935,51.5156,3.226298e+06,7736.3543,"MULTIPOLYGON (((-0.08520 51.52030, -0.07850 51...",City of London 001,E09000001,City of London,E12000007,London,E92000001,England
1,2,E02000002,548267,189685,0.1388,51.5865,2.064081e+06,7071.3681,"MULTIPOLYGON (((0.14980 51.59700, 0.15110 51.5...",Barking and Dagenham 001,E09000002,Barking and Dagenham,E12000007,London,E92000001,England
2,3,E02000003,548259,188520,0.1381,51.5761,2.226199e+06,7772.5307,"MULTIPOLYGON (((0.14840 51.58080, 0.14980 51.5...",Barking and Dagenham 002,E09000002,Barking and Dagenham,E12000007,London,E92000001,England
3,4,E02000004,551004,186412,0.1768,51.5564,2.599306e+06,6982.4123,"MULTIPOLYGON (((0.19020 51.55270, 0.18600 51.5...",Barking and Dagenham 003,E09000002,Barking and Dagenham,E12000007,London,E92000001,England
4,5,E02000005,548733,186824,0.1443,51.5607,1.221861e+06,5599.7656,"MULTIPOLYGON (((0.15440 51.56610, 0.14790 51.5...",Barking and Dagenham 004,E09000002,Barking and Dagenham,E12000007,London,E92000001,England
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,6784,E02006927,540765,175168,0.0248,51.4580,2.529081e+06,7172.4036,"MULTIPOLYGON (((0.02990 51.46590, 0.02980 51.4...",Greenwich 034,E09000011,Greenwich,E12000007,London,E92000001,England
979,6785,E02006928,537902,177443,-0.0155,51.4791,5.439184e+05,5258.6692,"MULTIPOLYGON (((-0.01220 51.47790, -0.02150 51...",Greenwich 035,E09000011,Greenwich,E12000007,London,E92000001,England
980,6786,E02006929,540015,179091,0.0155,51.4934,2.748672e+06,10872.3611,"MULTIPOLYGON (((0.02950 51.49400, 0.03110 51.4...",Greenwich 036,E09000011,Greenwich,E12000007,London,E92000001,England
981,6787,E02006930,540126,178333,0.0168,51.4866,7.543926e+05,5732.8395,"MULTIPOLYGON (((0.02330 51.48470, 0.02020 51.4...",Greenwich 037,E09000011,Greenwich,E12000007,London,E92000001,England
982,6788,E02006931,538710,177146,-0.0040,51.4763,2.017538e+06,7248.8735,"MULTIPOLYGON (((-0.00290 51.48250, 0.00140 51....",Greenwich 038,E09000011,Greenwich,E12000007,London,E92000001,England

Import samples, get median and 95% confidence intervals

In [9]:
samples = pd.read_csv("Data/samples/MSOAnested1_T_e0_samples.csv")

In [11]:
samples["MSOA2011"].nunique(), samples["YEAR"].nunique()

(983, 16)

In [14]:
strata = samples[samples.columns[1:5]]
strata = strata[["MSOA2011", "YEAR"]]
strata

        MSOA2011  YEAR
0      E02000001  2002
1      E02000001  2003
2      E02000001  2004
3      E02000001  2005
4      E02000001  2006
...          ...   ...
15723  E02006931  2013
15724  E02006931  2014
15725  E02006931  2015
15726  E02006931  2016
15727  E02006931  2017

[15728 rows x 2 columns]

In [16]:
samples = samples[samples.columns[5:]]

In [17]:
strata["e0 (median)"] = samples.median(axis = 1)
strata["lower (95% CI)"] = samples.quantile(q = 0.025, axis = 1)
strata["upper (95% CI)"] = samples.quantile(q = 0.975, axis = 1)

In [18]:
strata["YEAR"] = pd.to_datetime(strata["YEAR"], format = "%Y") # convert to datetime

In [19]:
strata = strata.round({
    "e0 (median)": 2,
    "lower (95% CI)": 2,
    "upper (95% CI)": 2
    })
strata

        MSOA2011       YEAR  e0 (median)  lower (95% CI)  upper (95% CI)
0      E02000001 2002-01-01        80.24           78.41           82.14
1      E02000001 2003-01-01        80.46           78.72           82.22
2      E02000001 2004-01-01        81.39           79.72           83.01
3      E02000001 2005-01-01        81.79           80.23           83.32
4      E02000001 2006-01-01        82.47           81.02           84.04
...          ...        ...          ...             ...             ...
15723  E02006931 2013-01-01        79.65           78.44           80.95
15724  E02006931 2014-01-01        80.01           78.80           81.42
15725  E02006931 2015-01-01        79.86           78.57           81.34
15726  E02006931 2016-01-01        80.34           78.97           81.94
15727  E02006931 2017-01-01        80.63           79.20           82.33

[15728 rows x 5 columns]

Merge with full ONS geography information

In [20]:
df = df.merge(strata)
df

,OBJECTID,MSOA2011,BNG_E,BNG_N,LONG,LAT,Shape__Are,Shape__Len,geometry,MSOA2011NM,LAD2020,LAD2020NM,GOR2011,GOR2011NM,CTRY2011,CTRY2011NM,YEAR,e0 (median),lower (95% CI),upper (95% CI)
0,1,E02000001,532384,181355,-0.0935,51.5156,3.226298e+06,7736.3543,"MULTIPOLYGON (((-0.08520 51.52030, -0.07850 51...",City of London 001,E09000001,City of London,E12000007,London,E92000001,England,2002-01-01,80.24,78.41,82.14
1,1,E02000001,532384,181355,-0.0935,51.5156,3.226298e+06,7736.3543,"MULTIPOLYGON (((-0.08520 51.52030, -0.07850 51...",City of London 001,E09000001,City of London,E12000007,London,E92000001,England,2003-01-01,80.46,78.72,82.22
2,1,E02000001,532384,181355,-0.0935,51.5156,3.226298e+06,7736.3543,"MULTIPOLYGON (((-0.08520 51.52030, -0.07850 51...",City of London 001,E09000001,City of London,E12000007,London,E92000001,England,2004-01-01,81.39,79.72,83.01
3,1,E02000001,532384,181355,-0.0935,51.5156,3.226298e+06,7736.3543,"MULTIPOLYGON (((-0.08520 51.52030, -0.07850 51...",City of London 001,E09000001,City of London,E12000007,London,E92000001,England,2005-01-01,81.79,80.23,83.32
4,1,E02000001,532384,181355,-0.0935,51.5156,3.226298e+06,7736.3543,"MULTIPOLYGON (((-0.08520 51.52030, -0.07850 51...",City of London 001,E09000001,City of London,E12000007,London,E92000001,England,2006-01-01,82.47,81.02,84.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15723,6788,E02006931,538710,177146,-0.0040,51.4763,2.017538e+06,7248.8735,"MULTIPOLYGON (((-0.00290 51.48250, 0.00140 51....",Greenwich 038,E09000011,Greenwich,E12000007,London,E92000001,England,2013-01-01,79.65,78.44,80.95
15724,6788,E02006931,538710,177146,-0.0040,51.4763,2.017538e+06,7248.8735,"MULTIPOLYGON (((-0.00290 51.48250, 0.00140 51....",Greenwich 038,E09000011,Greenwich,E12000007,London,E92000001,England,2014-01-01,80.01,78.80,81.42
15725,6788,E02006931,538710,177146,-0.0040,51.4763,2.017538e+06,7248.8735,"MULTIPOLYGON (((-0.00290 51.48250, 0.00140 51....",Greenwich 038,E09000011,Greenwich,E12000007,London,E92000001,England,2015-01-01,79.86,78.57,81.34
15726,6788,E02006931,538710,177146,-0.0040,51.4763,2.017538e+06,7248.8735,"MULTIPOLYGON (((-0.00290 51.48250, 0.00140 51....",Greenwich 038,E09000011,Greenwich,E12000007,London,E92000001,England,2016-01-01,80.34,78.97,81.94
15727,6788,E02006931,538710,177146,-0.0040,51.4763,2.017538e+06,7248.8735,"MULTIPOLYGON (((-0.00290 51.48250, 0.00140 51....",Greenwich 038,E09000011,Greenwich,E12000007,London,E92000001,England,2017-01-01,80.63,79.20,82.33

In [21]:
df.dtypes

OBJECTID                   int64
MSOA2011                  object
BNG_E                      int64
BNG_N                      int64
LONG                     float64
LAT                      float64
Shape__Are               float64
Shape__Len               float64
geometry                geometry
MSOA2011NM                object
LAD2020                   object
LAD2020NM                 object
GOR2011                   object
GOR2011NM                 object
CTRY2011                  object
CTRY2011NM                object
YEAR              datetime64[ns]
e0 (median)              float64
lower (95% CI)           float64
upper (95% CI)           float64
dtype: object

In [22]:
# df.to_file("tmp.geojson", driver='GeoJSON')

In [18]:
from keplergl import KeplerGl

In [19]:
kepler_map = KeplerGl(height = 800, data={"life expectancy": df})
kepler_map

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'life expectancy':         OBJECTID   MSOA2011   BNG_E   BNG_N    LONG      LAT    Shape__Are  â€¦

In [20]:
current_config = kepler_map.config
current_config

{'version': 'v1',
 'config': {'visState': {'filters': [{'dataId': ['life expectancy'],
     'id': 'zos6oumwl',
     'name': ['YEAR'],
     'type': 'timeRange',
     'value': [1065071520000, 1099709491000],
     'enlarged': True,
     'plotType': 'histogram',
     'yAxis': None}],
   'layers': [{'id': '3pb8lw5',
     'type': 'geojson',
     'config': {'dataId': 'life expectancy',
      'label': 'life expectancy',
      'color': [18, 147, 154],
      'columns': {'geojson': 'geometry'},
      'isVisible': True,
      'visConfig': {'opacity': 0.6,
       'strokeOpacity': 0.8,
       'thickness': 0.1,
       'strokeColor': [147, 147, 147],
       'colorRange': {'name': 'ColorBrewer RdBu-10',
        'type': 'diverging',
        'category': 'ColorBrewer',
        'colors': ['#67001f',
         '#b2182b',
         '#d6604d',
         '#f4a582',
         '#fddbc7',
         '#d1e5f0',
         '#92c5de',
         '#4393c3',
         '#2166ac',
         '#053061']},
       'strokeColorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'radius': 10,
       'sizeRange': [0, 10],
       'radiusRange': [0, 50],
       'heightRange': [0, 500],
       'elevationScale': 5,
       'stroked': True,
       'filled': True,
       'enable3d': False,
       'wireframe': False},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': {'name': 'e0 (median)', 'type': 'real'},
      'colorScale': 'quantize',
      'sizeField': None,
      'sizeScale': 'linear',
      'strokeColorField': None,
      'strokeColorScale': 'quantile',
      'heightField': None,
      'heightScale': 'linear',
      'radiusField': None,
      'radiusScale': 'linear'}}],
   'interactionConfig': {'tooltip': {'fieldsToShow': {'life expectancy': [{'name': 'MSOA2011',
        'format': None},
       {'name': 'LAD2020NM', 'format': None},
       {'name': 'GOR2011NM', 'format': None},
       {'name': 'YEAR', 'format': None},
       {'name': 'e0 (median)', 'format': None},
       {'name': 'lower (95% CI)', 'format': None},
       {'name': 'upper (95% CI)', 'format': None}]},
     'compareMode': False,
     'compareType': 'absolute',
     'enabled': True},
    'brush': {'size': 0.5, 'enabled': False},
    'geocoder': {'enabled': True},
    'coordinate': {'enabled': False}},
   'layerBlending': 'normal',
   'splitMaps': [],
   'animationConfig': {'currentTime': None, 'speed': 1}},
  'mapState': {'bearing': 0,
   'dragRotate': False,
   'latitude': 52.90765621433159,
   'longitude': 0.30906240971367205,
   'pitch': 0,
   'zoom': 6.031407974627302,
   'isSplit': False},
  'mapStyle': {'styleType': 'dark',
   'topLayerGroups': {},
   'visibleLayerGroups': {'label': True,
    'road': True,
    'border': False,
    'building': False,
    'water': True,
    'land': True,
    '3d building': False},
   'threeDBuildingColor': [9.665468314072013,
    17.18305478057247,
    31.1442867897876],
   'mapStyles': {}}}}

In [21]:
kepler_map.save_to_html(file_name = "kepler.html", config = current_config, read_only = True)

AttributeError: 'str' object has no attribute '_geom'